*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner{
    display: flex;
}
.main_content{
    display: flex;
    height: 100vh;
    width: 85%;
    float: left;
    padding-left: 10px rgba(22, 22, 22, 1);;
    
}

.sidebar{
    background: rgba(22, 22, 22, 1);
    color: white;
    height: 100vh;
    min-width: 15%;
    float: left;
}
@media only screen and (max-width: 600px) {
    .sidebar {
        width: 180px;
    }
}
.top_section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}
.logo{
    display: block;
    font-size: 1.8em;
    margin-left: auto;
    margin-right: auto;
    text-decoration:underline;
    text-transform: uppercase;
}
.link{
    display: flex;
    color: white;
    padding: 0.3em;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
}
.active{
    background: lightblue;
    color: black;
    border-radius: 10px;
}

.link:hover{
    background: lightblue;
    color: black;
    transition: all 0.5s;
    border-radius: 10px;
}

.icon, .link_text{
    font-size: 1.2em;
    margin: -0.1em;
}
.home_content{
    flex-grow: 1;
    padding: 2rem;
    background-image: radial-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .8)), url(/public/images/pexels-pixabay-276514.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
h1 {
    color: white;
    font-size: 3rem;
}
p {
    font-size: 1.1em;
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 1.5em;
    color: white;
}
.btn {
    margin: 0 auto;
    border: none;
    outline: none;
    padding: 0.75em 1em;
    font-size: 1em;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    background: rgba(134, 49, 0);
    color: white;
}